{{>head}}
<body>
    <div class="container">
        <img src="/static/images/icon.png" alt="Iankoex Logo" />
        <h1>Error</h1>
        <h2>{{statusCode}}</h2>
        <p>{{message}}</p>
    </div>
</body>
</html>
